/*******************************
-> CSS reset
*******************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*******************************
-> Main styles
*******************************/

body {
    margin: 50px auto;
    width: 960px;
    /*background-color: #4AA3DF;*/
    background: url('images/bcg.png');
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.3em;
}

h1 {
    color: #2C3E50;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.2em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 40px 0;
}

h2 {
    font-size: 1.8em;
    color: #2C3E50;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 30px 0;
}

h3 {
    font-size: 1.5em;
    color: #2C3E50;
    font-family: 'Lato', sans-serif;
    margin: 20px 0;
}

.section {
    margin: 30px 0;
}

.section p {
    margin-top: 30px;
    margin-bottom: 10px;
}

.section ul {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    list-style: lower-greek;
    font-size: .9em
}

.screenshot {
    max-width: 960px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#green-box {
    height: 200px;
    width: 200px;
    background-color: #40D47E;
    border: 10px solid #27AE60;
}

p a, ul a{
    color: #2E8ECE;
    text-decoration: none;
}

.protip {
    color: #3D566E;
}