body {
    margin: 50px auto;
    width: 850px;
    font-family: 'PT Serif', serif;
    color: #4E4E4E;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
}

header {
    text-align: center;
}

header img {
  padding: 15px 0;
}

h1 {
    color: #2C3E50;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.6em;
    color: #2C3E50;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

h3 {
    font-size: 1.3em;
    color: #2C3E50;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 15px;
}

.logo {
    display: block;
    margin: 50px auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #A3A3A3;
}

.author {
    font-size: .9em;
    color: #354B60;
    margin-bottom: 65px;
    text-align: center;
}

.author a {
    text-decoration: none;
    color: #354B60;
    padding-bottom: 2px;
}

.author a:hover {
    border-bottom: 1px solid #354B60;
}

.author-left {
    text-align: left;
}

.section {
    margin: 30px 0;
}

.section p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.section ul {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    list-style: disc;
    font-size: .9em
}

.section img[alt=screenshot] {
    max-width: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#green-box {
    height: 150px;
    width: 150px;
    background-color: #40D47E;
    border: 10px solid #27AE60;
    display: inline-block;
    float: left;
}

#stop-green-top {
  padding-bottom: 55px
}

#my-div {
    display: inline-block;
    float: left;   
}

.section p code, .section li code {
    color: #EA6153;
}

.section p code:after, .section li code:after {
    content: " ";
}

.pulled {
    max-width: 70%;
    margin-left: 25%;
}

p a, ul a{
    color: #2E8ECE;
    text-decoration: none;
}

/* pro tips */
blockquote {
    color: #3D566E;
    font-style: italic;
}

.checkpoint {
    color: #27AE60;
}

.moving-hadouken {
    vertical-align: top;
    margin-top: 140px; 
    margin-left: -100px;
}

pre code {
    padding-left: 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-family: monospace;
}


/* jQuery project demo */
.demo-hadouken {
    vertical-align: top;
    margin-top: 55px; 
    margin-left: -55px;
}

#main-example-container {
  width: 960px;
}

#main-example-add-sound {
    background-color: #27AE60;
    font-family: sans-serif;
    color: #FBFCFC;
    margin: 20px 46px;
    display: inline-block;
    padding: 4px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.skrollr-padding {
    height: 40px;
}

.github_fork {
    position: absolute;
    top: 0;
    right: 0; 
}
